nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1d0202;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff9800;
}

nav a.active {
    font-weight: bold;
    border-bottom: 2px solid #ff9800;
}