<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="correo">Correo:</label>
      <input id="correo" formControlName="correo">
      <div *ngIf="loginForm.get('correo').invalid && loginForm.get('correo').touched">
        <div *ngIf="loginForm.get('correo').errors.required">Correo es requerido.</div>
        <div *ngIf="loginForm.get('correo').errors.email">Formato de correo inválido.</div>
      </div>
    </div>
  
    <div>
      <label for="contraseña">Contraseña:</label>
      <input id="contraseña" type="password" formControlName="contraseña">
      <div *ngIf="loginForm.get('contraseña').invalid && loginForm.get('contraseña').touched">
        <div *ngIf="loginForm.get('contraseña').errors.required">Contraseña es requerida.</div>
        <div *ngIf="loginForm.get('contraseña').errors.minlength">Contraseña debe tener al menos 6 caracteres.</div>
      </div>
    </div>
  
    <button type="submit">Login</button>
  </form>
  